/* -----------------------------------------------------------------------------
 *  Copyright 2013 Jonas Rabbe
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 * -----------------------------------------------------------------------------
 * Sorting/Content/sorting.css
 *
 * Stylesheet for the sorting visualizer.
 * -----------------------------------------------------------------------------
 */


/*
 *------------------------------------------------------------------------------
 * CSS needed for footer
 *------------------------------------------------------------------------------
 */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f0f0f0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* -----------------------------------------------------------------------------
 * Custom page CSS
 *
 * Not required for template or sticky footer method.
 * -----------------------------------------------------------------------------
 */

.container .credit {
  margin: 20px 0;
}

#sortingView {
  height: 300px;
  margin: 20px;
}

.CodeMirror {
  border: 1px solid #ddd;
  height: auto;
}

.CodeMirror pre {
  font-family: "Menlo", monospace;
  font-size: 10pt;
}
