<!--
    Copyright 2013 Jonas Rabbe

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<div class="container">
    <div class="row">
        <div class="span6 offset2">
            <h1>Sorting Visualizer <small>Plugin Settings</small></h1>
            <p>
                This page allows seeing the implementation of each plugin used
                for the sorting in the main view, and allows adding, deleting,
                and editing plugins.</p>
        </div>
    </div>
    <div class="row">
            <div class="span2">
                <div class="well well-small">
                    <ul class="nav nav-list">
                        <li ng-repeat="plugin in plugins()" ng-class="{ active: isPluginSelected(plugin) }">
                            <a ng-click="selectPlugin(plugin)">{{ pluginName(plugin) }}
                            <span class="pull-right" ng-show="isPluginReadOnly(plugin)">
                                <i class="icon-lock"></i>
                            </span></a>
                        </li>
                    </ul>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <button class="btn btn-mini">
                            <i class="icon-plus"></i>
                        </button>
                        <button class="btn btn-mini" ng-class="{ disabled: isPluginEditingDisabled(selectedPlugin()) }">
                            <i class="icon-minus"></i>
                        </button>
                        <button class="btn btn-mini">
                            <i class="icon-pencil"></i>
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn btn-mini disabled">
                            <i class="icon-download-alt"></i>
                        </button>
                        <button class="btn btn-mini disabled">
                            <i class="icon-share-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="span7">
                <textarea ui-codemirror="{ theme: 'xq-light', readOnly: currentPlugin.readOnly, lineNumbers: true, mode: 'javascript' }" ng-model="currentPlugin.code"></textarea>
            </div>
            <div class="span3">
                <div class="well well-small">
                    <p>
                        Algorithms can be implemented in a subset of javascript.
                        In addition to the standard language features, a number
                        of functions are provided to interact with the data set.
                        Furthermore, simple operators are allowed, both binary
                        and unary.
                    </p>
                    <p>See the <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Guide/Expressions_and_Operators">
                        MDN Expressions and operators page</a> for more details
                        on operators.
                    </p>
                    <p ng-click="documentation.languageCollapsed = !documentation.languageCollapsed">
                        <strong><i ng-class="documentation.languageClass()"></i> Language</strong>
                    </p>
                    <div collapse="documentation.languageCollapsed">
                        <p>
                            The subset of the language includes functions,
                            loops, if/else statements, and setting variables.
                        </p>
                        <dl>
                            <dt><code>&lt;function name&gt;(...) { ... }</code></dt>
                            <dd><p>
                                Declares a function, with a number arguments
                                that can be called from other places in the
                                algorithm.
                            </p></dd>
                            <dt><code>return ...;</code></dt>
                            <dd><p>
                                Returns the result of an expression out of the
                                function for use in place of the function call.
                                For instance in an assigment.
                            </p></dd>
                            <dt><code>while(...) { ... }</code></dt>
                            <dt><code>do { ... } while(...);</code></dt>
                            <dt><code>for(...; ...; ...) { ... }</code></dt>
                            <dd><p>Three different types of loops</p></dd>
                            <dt><code>if (...) { ... } else { ... }</code></dt>
                            <dd><p>
                                Conditional statement, if the expression inside
                                the if is true, then the first statement block
                                is executed, otherwise the second is.
                            </p></dd>
                            <dt><code>var &lt;variable name&gt; = ...</code></dt>
                            <dd><p>
                                Creates a variable in the current function
                                scope if it does not exist, otherwise assigns a
                                new value to an existing variable.
                            </p></dd>
                        </dl>
                    </div>
                    <p ng-click="documentation.functionsCollapsed = !documentation.functionsCollapsed">
                        <strong><i ng-class="documentation.functionsClass()"></i> Functions</strong>
                    </p>
                    <div collapse="documentation.functionsCollapsed">
                        <p>
                            The following functions and variables are available to
                            help write algorithms.
                        </p>
                        <dl>
                            <dt><code>length()</code></dt>
                            <dd>Returns the number of elements in the data set.</dd>
                            <dt><code>value(index)</code></dt>
                            <dd>Eeturns the value in the data set at the given
                                index.</dd>
                            <dt><code>updateValue(index, value)</code></dt>
                            <dd>sets the provided value at the given index in
                                the data set.</dd>
                            <dt><code>swap(index1, index2)</code></dt>
                            <dd>swaps the values at the provided indices.</dd>
                            <dt><code>debug(message)</code></dt>
                            <dd>Prints a message to the console.</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
