<div class="container">
    <div class="row">
        <div class="span6 offset2">
            <h1>Sorting Visualizer <small>Reg Ex Evaluator</small></h1>
            <p>
                Simple regex evaluation. Write a regex in the first first, and
                a text in the second, any matches will be listed below.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span5 offset1 well">
            <form ng-submit="runParser()">
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Parse</button>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <textarea ui-codemirror="editorOptions" ng-model="testing.input"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="span4" ng-hide="showOutput()">
            <pre><code>{{testing.output}}</code></pre>
        </div>
    </div>
</div>
