<!--
    Copyright 2013 Jonas Rabbe

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<div class="container">
    <div class="row">
        <div class="span6 offset2">
            <h1>Sorting Visualizer</h1>
            <p>This page contains a simple web application that sorts a random list of numbers. It allows you to select from a variety of different sorting algorithms, and in time to add new ones.</p>
            <p>The application is implemented using <a href="http://angularjs.org/">AngularJS</a> and <a href="http://twitter.github.io/bootstrap/">Bootstrap</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="span8 offset2">
            <div
                id="sortingView"
                ng-model="data.values"
                jr-visualizer>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span8 offset2">
            <div class="btn-group">
                <button type="button" class="btn" ng-click="sort()">{{ data.sortButtonValue }}</button>
                <button type="button" class="btn" ng-click="reset()">Reset</button>
                <button type="button" class="btn dropdown-toggle">
                    {{ pluginName(currentPlugin()) }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="plugin in plugins()"><a ng-click="selectPlugin(plugin)">{{ pluginName(plugin) }}</a></li>
                </ul>
            </div>
            <button type="button" class="btn" ng-click="gotoPluginSettings()">
                <i class="icon-wrench"></i>
            </button>
        </div>
    </div>
</div>
